* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

label{
  font-size: 14px !important;
  font-weight: bold;
}

.feedback1{
/*position: relative;*/
/*top: -20%; */ 
width:100%;
padding:5px;
font-size:30px;
color:#00ba22 !important;
/*background-color:#00ba22 !important;*/
font-family:Arial, Helvetica, sans-serif;
text-align:center;
}

.feedback2{
/*position: relative;*/
/*top: -20%;*/
width:100%;
padding:5px;
font-size:30px;
color:#ff0000 !important;
/*background-color:#ff0000 !important;*/
font-family:Arial, Helvetica, sans-serif;
text-align:center;
}



/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (max-width: 600px) {

/*.menu ul{
  margin-left: 15%;
}*/

/*.feedback1{
    position: relative;
    top: -60%;
    width: 85%;
}

.feedback2{
    position: relative;
    top: -60%;
    width: 85%;
}*/

.menu li {
  padding-top: 0px;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}



}

@media only screen and (min-width: 200px) {

/*#countdown{
  margin-top: 145% !important;
  margin: auto;
}*/

#countdown360_countdown{
  height: 100px;
}

}





/*.menu ul{
  margin-left: 22%;
}*/

}

@media only screen and (max-width: 400px) {

.menu ul{
  margin-left: 18%;
}


}

@media only screen and (min-width: 50px) {

#topbar{
  font-size: 16px;
}

}

@media only screen and (max-width: 300px) {

.menu ul{
  margin-left: 0%;
}

}

@media only screen and (min-width: 300px) {

.menu li {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

/*#countdown{
  margin-top: 135% !important;
  margin: auto;
}*/

#countdown360_countdown{
  height: 100px;
}

}

@media only screen and (min-width: 350px) {

/*.feedback1{
    position: relative;
    top: -52% !important;
}

.feedback2{
    position: relative;
    top: -52% !important;
}*/

/*#countdown{
  margin-top: 120% !important;
  margin: auto;
}*/

#countdown360_countdown{
  height: 90px;
}

}

@media only screen and (min-width: 400px) {

.menu li {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

/*#countdown{
  margin-top: 105% !important;
  margin: auto;
}*/

#countdown360_countdown{
  height: 100px;
}

}

@media only screen and (min-width: 450px) {

/*.feedback1{
    position: relative;
    top: -70%;
}

.feedback2{
    position: relative;
    top: -70%;
}*/


/*#countdown{
  margin-top: 100% !important;
  margin: auto;
}*/

#countdown360_countdown{
  height: 110px;
}

}

@media only screen and (min-width: 500px) {

.menu li {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

/*#countdown{
  margin-top: 80% !important;
}*/

#countdown360_countdown{
  height: 130px;
}

}

@media only screen and (min-width: 550px) {

/*.feedback1{
    position: relative;
    top: -65%;
}

.feedback2{
    position: relative;
    top: -65%;
}*/


/*#countdown{
  margin-top: 75% !important;
}*/

#countdown360_countdown{
  height: 140px;
}

}

@media only screen and (min-width: 600px) {

/*.feedback1{
    position: relative;
    top: -54% !important;
    width: 85%;
}

.feedback2{
    position: relative;
    top: -54% !important;
    width: 85%;
}*/

.menu li {
  float: left;
  margin-left: 25%;
  margin-right: 25%;
}

.menu ul{
  list-style-type: none;
  float: none;
  /*margin-left: -3%;*/
}

/*#countdown{
  margin-top: 67% !important;
  margin-left: auto;
  margin-right: auto;
}*/

#countdown360_countdown{
  height: 150px;
}




.col-s-9s {width: 100%;}


  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  /*.col-s-10 {width: 300px;}*/
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (max-width: 768px) {

  #navContent{
  height: 68%;
  }

  .h3, h3 {
    font-size: 1.25rem;
}

label {
    font-size: 0.75rem !important;
}

}

@media only screen and (min-width: 768px) {

#navContent{
  height: 35%;
}

/*.feedback1{
    position: relative;
    top: -18%;
    width: 85%;
}

.feedback2{
    position: relative;
    top: -18%;
    width: 85%;
}*/

.menu{
  float: left;
  margin-left: 6%;
}
.menu li {
  float: left;
  margin-left: 5%;
  margin-right: 0%;
}

.cus-col-4 {width: 40% !important;}

/*#countdown{
  margin-top: 40% !important;
  float: none;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
}*/

.bg{
  height: 200%;
}
  /* For desktop: */
  .cus-col-1 {width: 8.33%;}
  .cus-col-2 {width: 16.66%;}
  .cus-col-3 {width: 25%;}
  .cus-col-4 {width: 33.33%;}
  .cus-col-5 {width: 41.66%;}
  .cus-col-6 {width: 50%;}
  .cus-col-7 {width: 58.33%;}
  .cus-col-8 {width: 66.66%;}
  .cus-col-9 {width: 75%;}
  .cus-col-10 {width: 83.33%;}
  .cus-col-11 {width: 91.66%;}
  .cus-col-12 {width: 100%;}
}

@media only screen and (min-width: 1080px) {

.cus-col-4 {width: 33.33% !important;}

/*  .feedback1{
    position: relative;
    top: -18% !important;
    width: 85%;
}

.feedback2{
    position: relative;
    top: -18% !important;
    width: 85%;
}*/

.menu{
  float: left;
  margin-left: 5%;
}

.menu li {
  float: left;
  margin-left: 12%;
  margin-right: 4%;
}

}