html, body {
overflow: hidden;
margin: 0;
padding: 0;
background-color: black;
height: 100%;
/*background-image:url(greybg.png);*/
font-family: "Lucida Sans", Arial, Helvetica, sans-serif;
	    }

.questionPane h3 {
  word-wrap: break-word;
}

#countdown{
  opacity: 0.6;
  margin: auto;
  width: 100%;
  position: absolute;

  top: 40%;
  margin-top: -50px;

  /*bottom: 5%;*/
  z-index: -1 !important; 
}

.feedbackShr{
  margin: auto;
  width: 100%;
  position: absolute; 
  bottom: 5%;
  z-index: 950 !important; 
}

.acnt_img{
	height: 25px;
	width: auto;
	filter: invert(100);
}

.bg {
  /* The image used */
  background-image: url("../resource/background.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.glow {
  color: #000;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f78922, 0 0 40px #e60073, 0 0 50px #f78922, 0 0 60px #f78922, 0 0 70px #f78922;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #f78922, 0 0 40px #f78922, 0 0 50px #f78922, 0 0 60px #ad5300, 0 0 70px #ad5300, 0 0 80px #ad5300;
  }
}

.menu li{
  word-wrap: break-word !important;
  z-index: 900 !important;
}

.strokeme {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.strokeme2 {
  color: black;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}


.wrapper{
	background-color: white;
	width:96%;
	padding: 20px;
	margin: 2%;
}

.questionPane{
	width: 80%;
	margin: auto;
}

.menu ul{
  list-style-type: none;
  float: none;
  margin-left: -6%;
  text-align: left;
}

#navContent{
border-radius: 15px;
margin:auto;
width:80%;
height:500px;
position:relative;
overflow:hidden;
background-color: #e5ffce;
opacity: 0.8;
padding-top: 0%;
padding-bottom: 6%;
}

#game1{
width:96%;
margin: 2%;
height:100%;
right:0px;
position:absolute;
}

#game2{
width:96%;
margin: 2%;
height:100%;
right:-1200px;
position:absolute;
} 



 
.questionText{
font-size:27px;
color:#000000;
}

.optionText{
/*width:400px;*/
height:30px;
margin:15px;
font-size:18px;
color:#000000; 
padding:2px !important;
/*padding-left:10px;*/
border: 2px solid white;
cursor:pointer;
background-color:#4CEDBA;
margin-left: -6%;
}

.optionText:hover{
border:#FC0 solid 2px;
color:green;
}




.ring_img{
	width: 100px !important;
}


 

#topbar{
float: right;
height:20px;
margin:auto;
margin-top:2%;
margin-right: 2%;
color:#FFF;
font-size:20px;
font-family:Arial, Helvetica, sans-serif;
width:800px;
}
 
/*.spacer{
height:30px;
}*/






/*.feedback1{
width:150px;
padding:5px;
font-size:30px;
color:#e8e8e8 !important;
background-color:#00ba22 !important;
font-family:Arial, Helvetica, sans-serif;
text-align:center;
}

.feedback2{
width:150px;
padding:5px;
font-size:30px;
color:#e8e8e8 !important;
background-color:#ff0000 !important;
font-family:Arial, Helvetica, sans-serif;
text-align:center;
}*/
 
/*@media only screen and (min-width: 600px) {

// For tablets:

.option{width:80%;margin:5%;}

	.wrapper{
	width:100%;
	padding: 10px;
	margin: 0;
	}


}*/

/*@media only screen and (min-width: 768px) {

//For Desktops:

}*/

 
/*@media screen and (max-width:800px) {
	#topbar{margin-left:1%;margin-right:2%;	width:50%;}
	#navContent{margin:1%;	width:98%;}
	#game1{margin:1%;	width:98%;}
	#game2{margin:1%;	width:98%;}

	.wrapper{
	width:100%;
	padding: 10px;
	margin: 0;
	}


}*/


/*@media screen and (max-width:460px) {
	.option{width:80%;margin:5%;}

	.wrapper{
	width:100%;
	padding: 10px;
	margin: 0;
	}*/

/*}
	.header {
  float: right;
  background-color: #ffffff;
  color: #9933cc;
  padding: 5px;
  margin-left: 3%;
  margin-right: 3%;
}*/

/*label{
	font-size: 16px !important;
	font-weight: bold;
}*/

/*.menu li {
  text-align: left;
  padding: 8px;
  margin-bottom: 7px;
  margin-left: auto;
  background-color: #33b5e5;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}*/

/*.menu li:hover {
  background-color: #0099cc;
}*/

/*.aside {
  background-color: #33b5e5;
  padding: 15px;
  color: #ffffff;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}*/

/*.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 15px;
}*/


}