* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

label{
  font-size: 16px !important;
  font-weight: bold;
}

.feedback1{
position: relative;
top: -20%;  
width:88%;
padding:5px;
font-size:30px;
color:#00ba22 !important;
/*background-color:#00ba22 !important;*/
font-family:Arial, Helvetica, sans-serif;
text-align:center;
}

.feedback2{
position: relative;
top: -20%;
width:88%;
padding:5px;
font-size:30px;
color:#ff0000 !important;
/*background-color:#ff0000 !important;*/
font-family:Arial, Helvetica, sans-serif;
text-align:center;
}



/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (max-width: 600px) {

.menu ul{
  margin-left: 15%;
}

.feedback1{
    position: relative;
    top: -54%;
    width: 85%;
}

.feedback2{
    position: relative;
    top: -54%;
    width: 85%;
}

}

@media only screen and (min-width: 200px) {

#countdown{
  margin-top: 145% !important;
}

#countdown360_countdown{
  height: 100px;
}

}





.menu ul{
  margin-left: 22%;
}

}

@media only screen and (max-width: 400px) {

.menu ul{
  margin-left: 18%;
}

}

@media only screen and (max-width: 300px) {

.menu ul{
  margin-left: 0%;
}

}

@media only screen and (min-width: 300px) {

#countdown{
  margin-top: 135% !important;
}

#countdown360_countdown{
  height: 100px;
}

}

@media only screen and (min-width: 350px) {

#countdown{
  margin-top: 105% !important;
}

#countdown360_countdown{
  height: 100px;
}

}

@media only screen and (min-width: 400px) {

#countdown{
  margin-top: 105% !important;
}

#countdown360_countdown{
  height: 110px;
}

}

@media only screen and (min-width: 450px) {

#countdown{
  margin-top: 75% !important;
}

#countdown360_countdown{
  height: 120px;
}

}

@media only screen and (min-width: 500px) {

#countdown{
  margin-top: 80% !important;
}

#countdown360_countdown{
  height: 130px;
}

}

@media only screen and (min-width: 550px) {

#countdown{
  margin-top: 60% !important;
}

#countdown360_countdown{
  height: 140px;
}

}

@media only screen and (min-width: 600px) {

.menu li {
  float: left;
  margin-left: 8%;
  margin-right: 8%;
}

.menu ul{
  list-style-type: none;
  float: none;
  margin-left: -3%;
}

#countdown{
  margin-top: 45% !important;
}

#countdown360_countdown{
  height: 150px;
}

#navContent{
  height: 500px;
}

.col-s-9s {width: 100%;}


  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {

.menu{
	float: left;
  margin-left: 5%;
}
.menu li {
  float: left;
  margin-left: 12%;
  margin-right: 4%;
}

#countdown{
  margin-top: 25% !important;
}

  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
